{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_timetableevents/groupoverrides

    Template for displaying the groupoverrides for a course.

    Context variables required for this template:
    * labeltext string - Element label.
    * multiple bool - Multiple selections allowed
    * selectionid string - Element ID
    * items array - Selected items
        * label string - Display text
        * value string - Element value (group override ID)

    Example context (json):
    {
        "labeltext" : "Group overrides",
        "multiple" : true,
        "selectionId" : "groupoverrides",
        "items" : {
            "0" : {
                "label" : "Group 1 - Starting term: 2, Teaching start date: 06/10/2021",
                "value" : "9"
          }
       }
    }
}}

<div class="form-group row fitem">
    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">

        <label class="d-inline word-break">
            {{labeltext}}
        </label>
    </div>

    <div id="groupoverrides_selections" class="col-md-9 form-inline align-items-start felement">
        {{> core/form_autocomplete_selection }}
    </div>
</div>
